.nav {
    background-color: white;
    align-self: center;
    align-items: center;
    color: black;
}
.logo-nav {
    background-color: white;
    margin: 10px;
    width: 5%;
}

.contenedor {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 2%;
}